<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About me</h2>
                    <h3 class="section-subheading text-muted">edit adpawel</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-futbol-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Sport</h4>
                    <p class="text-muted">If you are a sports freak like me, you will surely enjoy my <a href="https://connect.garmin.com/modern/profile/e0ecab38-0a26-465a-a717-55b3043cdc63">Garmin profile!</a></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-chess fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Chess</h4>
                    <p class="text-muted">Maybe I'm not Magnus Carlsen but you can follow my <a href="https://www.chess.com/member/pablo_810">Chess.com profile!</a></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Computer Science</h4>
                    <p class="text-muted"><a href="https://github.com/adpawel">Github profile</a>, <a href="http://www.blankwebsite.com/">Projects</a>.</p>
                </div>
            </div>
        </div>
    </section>